<?xml version="1.0" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://webinos.org/latitude" version="0.1">
  <name>webinos device of last resort</name>
  <description>
    device of last resort
  </description>
  <content src="index.html" />
  <icon src="webinos.png" />
  <author>xsz</author>

</widget>

